/*#e5003d*/
#calculator{
    margin-right: auto;
    margin-left: auto;
    padding: 2em 5em;
    box-sizing: border-box;
}
label{
    float: left;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    position: relative;
}
.divider{
    height: 0.5em;
}
#result-container{
    text-transform: uppercase;
}
button#click-btn,input[type=reset]{
    background-color: #95cb0e;
    border: 1px solid #95cb0e;
    color: whitesmoke;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.5s;
    z-index: 10;
}
button#click-btn:hover,input[type=reset]:hover{
    background-color: #e5003d;
    border-color: #e5003d;
    cursor: pointer;
}
input[type=text],input[type=number]{
    display: inline-block;
    border: 1px solid #e5003d;
    background-color: #e5003d;
    color: whitesmoke;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    text-align: center;
}
.btn-container{
    text-align: center;
}
#result-bar{
    margin-top: 2em;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    transition-duration: 1s;
}
#result-bar.fading-in-text{
    opacity: 0;
}
#result-bar.fading-in-text{
    opacity: 1;
}
#map-wrapper{
    position: relative;
}
#map-mask{
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    width: 600px;
    height: 450px;
}



/*RWD*/
#small-one input,#small-one label,#small-one button {
    font-size: 1.5em;
}
#big-one label{
    top: 20%;
}
#calculator{
    font-size: 2.2em;
}     
#result-bar{
    font-size: 0.9em;
/*    background-color: gold;*/
}


#big-one input, #big-one label, #big-one button{
        font-size: 0.5em;
    }
}
