/*#e5003d*/
#calculator{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 5em;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 5vh;
}
h4{
    display: inline-block;
}
label{
    margin: 0;
    font-size: 0.9em;
    float: left;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    line-height: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: right;
}
.container{
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px 0;
}
.col-sm-6,.col-sm-4{
    padding-top: 1em;
}

#result-container{
    text-transform: uppercase;
}
button#click-btn,input[type=reset]{
    background-color: #95cb0e;
    border: 1px solid #95cb0e;
    color: whitesmoke;
    border-radius: 5px;
    outline: none;
    padding: 0.5em 1em;
    transition-duration: 0.5s;
    z-index: 10;
}
button#click-btn{
    position: relative;
    left: 230%;
}
button#click-btn:hover,input[type=reset]:hover{
    background-color: #e5003d;
    border-color: #e5003d;
    cursor: pointer;
}
input[type=text],input[type=number]{
    display: inline-block;
    border: 1px solid #e5003d;
    background-color: #e5003d;
    color: whitesmoke;
    font-size: 0.9em;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 10vw;
}
.btn-container{
    text-align: center;
}
#result-bar{
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    opacity: 0;
    transition-duration: 1s;
}
#result-bar.fading-in-text{
    opacity: 0;
}
#result-bar.fading-in-text{
    opacity: 1;
}
#map-wrapper{
    position: relative;
}
#map-mask{
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    width: 600px;
    height: 450px;
}